---
layout: 'base.njk'
title: '{{ title }}'
description: '{{ description }}'
seo_title: '{{ seo_title }}'
seo_description: '{{ seo_description }}'
seo_keywords: '{{ seo_keywords }}'
seo_image: '{{ seo_image }}'
url: '{{ url }}'
---

<article class="main-article">
  <div class="container container--narrow flow">
    <h1 class="article-title">
      {{ title }}
    </h1>
    <p class="article-meta">Published on {{ date | date('YYYY-MM-DD') }} by {{ author }}</p>
    <figure class="main-article__figure">
      <img src="{{ image }}" alt="{{ imageAlt }}">
      <figcaption>
        {{ imageAlt }}
      </figcaption>
    </figure>
    
    {{ content | safe }}
  </div>
</article>

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ url }}"
  },
  "headline": "{{ seo_title }}",
  "description": "{{ seo_description }}",
  "image": {
    "@type": "ImageObject",
    "url": "{{ seo_image }}",
    "height": 800,
    "width": 1200
  },
  "author": {
    "@type": "Person",
    "name": "{{ author }}"
  },
  "publisher": {
    "@type": "Organization",
    "name": "Your Organization Name",
    "logo": {
      "@type": "ImageObject",
      "url": "URL to your organization's logo",
      "width": 200,
      "height": 200
    }
  },
  "datePublished": "{{ date | date('YYYY-MM-DD') }}",
  "dateModified": "{{ date | date('YYYY-MM-DD') }}"
}
</script>
