---
layout: 'base.njk'
title: '{{ title }}'
description: '{{ description }}'
seo_title: '{{ seo_title }}'
seo_description: '{{ seo_description }}'
seo_keywords: '{{ seo_keywords }}'
seo_image: '{{ seo_image }}'
url: '{{ url }}'
---

<main class="content-wrapper">
  <article class="main-article">
    <div class="container container--narrow flow">
      <h1 class="article-title">{{ title }}</h1>
      <figure class="main-article__figure">
        <img src="{{ image }}" alt="{{ imageAlt }}">
        <figcaption>{{ imageAlt }}</figcaption>
      </figure>
      {{ content | safe }}
    </div>
  </article>
</main>
