<li class="article-snippet">
  <a href="{{ post.url }}">
    <img src="{{ post.data.image }}" alt="{{ post.data.imageALT }}" class="snippet__image">
    <h3 class="snippet__title">{{ post.data.title }}</h3>
    <p class="snippet__meta">by <span>{{ post.data.author }}</span> on <span>{{ post.date }}</span></p>
  </a>
</li>