<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>{{ title }}</title>
   <meta name="description" content="{{ description }}">
   <meta name="keywords" content="{{ seo_keywords }}">
   <meta property="og:title" content="{{ seo_title }}">
   <meta property="og:description" content="{{ seo_description }}">
   <meta property="og:image" content="{{ seo_image }}">
   <meta name="robots" content="index, follow">
   <link rel="stylesheet" href="/style.css">
   <link rel="icon" type="image/png" href="/assets/favicon.png"> <!-- Replace with your favicon path -->

   <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

   <!-- Google Analytics -->
   <!-- Google tag (gtag.js) -->
   <script async src="https://www.googletagmanager.com/gtag/js?id=G-33KK9XWT1K"></script>
   <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-33KK9XWT1K');
   </script>
   <!-- End Google Analytics -->

   <!-- Sitemap -->
   <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml">
</head>
<body>

{% include 'header.njk' %}

<main>
  {{ content | safe }}
</main>

{% include 'footer.njk' %}

<script src="/js/pjax.js" defer></script>

<script>
  document.addEventListener('pjax:complete', function() {
    if (typeof gtag === 'function') {
      gtag('config', 'G-33KK9XWT1K', {
        'page_path': window.location.pathname
      });
    }
  });
</script>

<script>
if (window.netlifyIdentity) {
  window.netlifyIdentity.on("init", user => {
    if (!user) {
      window.netlifyIdentity.on("login", () => {
        document.location.href = "/admin/";
      });
    }
  });
}

document.addEventListener('DOMContentLoaded', function() {
  const mobileNavToggle = document.getElementById('mobile-nav-toggle');
  const mobileNav = document.getElementById('mobile-nav');

  mobileNavToggle.addEventListener('click', function() {
    mobileNav.classList.toggle('active');
    mobileNavToggle.classList.toggle('open');
  });
});
</script>

<script>
  // Get the move-up button element
const moveUpButton = document.getElementById('move-up-button');

// Function to toggle visibility of the move-up button
function toggleMoveUpButtonVisibility() {
  if (window.scrollY > window.innerHeight * 0.6) {
    moveUpButton.classList.add('visible');
  } else {
    moveUpButton.classList.remove('visible');
  }
}

// Function to scroll back to the top of the page
function scrollToTop() {
  window.scrollTo({
    top: 0,
    behavior: 'smooth'
  });
}

// Event listener for scroll events
window.addEventListener('scroll', toggleMoveUpButtonVisibility);

// Event listener for click events on the move-up button
moveUpButton.addEventListener('click', scrollToTop);
</script>

</body>
</html>
