<header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <div>
        <a href="/">
          <img src="{{ '/assets/eco_tech_master_logo_1.png' | url }}" alt="Eco Tech Master Logo" class="logo">
        </a>
      </div>
      <nav>
        <ul role="list" class="nav-list flex-group">
          <li><a href="/">Home</a></li>
          <li><a href="/blog/">Blog</a></li>
          <li><a href="/about/">About</a></li>
          <li><a href="/contact/">Contact</a></li>
        </ul>
      </nav>
      <div class="mobile-nav-toggle" id="mobile-nav-toggle">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <nav class="mobile-nav" id="mobile-nav">
    <ul role="list" class="mobile-nav-list">
      <li><a href="/">Home</a></li>
      <li><a href="/blog/">Blog</a></li>
      <li><a href="/about/">About</a></li>
      <li><a href="/contact/">Contact</a></li>
    </ul>
  </nav>
</header>
