---
title: About
layout: 'base.njk'
---

<section class="hero">
  <div class="container flow">
    <div class="hero__content flow">
      <h1 class="section-title" style="color:black;">About Me</h1>
      <p>Welcome to my blog! I use this space to document my adventures in front-end development, sharing how I’ve overcome issues I’ve run into, useful resources, and more.</p>
      <p>I'm passionate about coding, technology, and continuous learning. Through this blog, I aim to share my knowledge and experiences with others who are on a similar journey.</p>
    </div>
    <div>
      <img src="/assets/rah1.png" alt="Profile Image" class="hero__image">
    </div>
  </div>
</section>
