---
title: My homepage
layout: 'base.njk'
---

<section aria-labelledby="hero-title" class="hero">
    <h1 id="hero-title" class="hero__title">
      Hi, I'm Kevin. I teach people how to make the web and how to make it look good while they're at it.
    </h1>
    <div class="hero__paragraph flow">
      <p>
        I learned to make websites on my own. I know how fun and rewarding it is, but I also know that it can be incredibly frustrating.
        <strong>I'm here to help make your journey into web development as easy and as fun as possible</strong>.
      </p>
      <p>
        Whether you're trying to learn what you need to tweak your small business' website or you're looking to jump start a new career, I'm here to help.
      </p>
    </div>

    <picture><source type="image/avif" srcset="https://d33wubrfki0l68.cloudfront.net/03e699b73209adb955c23500379f8da5ca9abeb7/a3afa/img/f21b00ed-300.avif 300w, https://d33wubrfki0l68.cloudfront.net/554ca802d12f9823e5449ae62bc6bc2775c5c67a/a52fd/img/f21b00ed-600.avif 600w"><source type="image/webp" srcset="https://d33wubrfki0l68.cloudfront.net/ea9290927c2acb8d281ad4ed55ca085e132dd050/2ce3f/img/f21b00ed-300.webp 300w, https://d33wubrfki0l68.cloudfront.net/0051c6eae6c92ca119525df91cbb8dbce7f0e64e/fd6be/img/f21b00ed-600.webp 600w"><source type="image/jpeg" srcset="https://d33wubrfki0l68.cloudfront.net/3156dc4cf5f0f6b69cde5bdd18f0ff31eccb14e0/67c46/img/f21b00ed-300.jpeg 300w, https://d33wubrfki0l68.cloudfront.net/3e8b2dd631c247b8077fdd73a955287b57e8571f/916f4/img/f21b00ed-600.jpeg 600w"><img src="../d33wubrfki0l68.cloudfront.net/3156dc4cf5f0f6b69cde5bdd18f0ff31eccb14e0/67c46/img/f21b00ed-300.jpg" width="300" height="300" alt="Kevin smiling" loading="lazy" decoding="async"></picture>
  </section>

<section id="featured-articles" class="featured-articles">
  <div class="container flow">
    <h2 class="section-title text-center ">Featured articles</h2>
    <p class="text-center">Here is a sample of articles which I feel give you a good idea of what this site is all about.</p>
    <ul role="list" class="articles__list flow">

       {%- for post in collections.featured | reverse -%}
          {% include 'article-snippet.njk' %}
       {%- endfor -%}

</ul>
  </div>
</section> 


